$align: center;

.pages{
     height: 1000px;
}

*{
     margin:0;
     padding:0;
}
body{
     width: 100%;
     background: url('../img/pizza-bg.png')no-repeat fixed center;
     h1, p{
          text-align: $align;
     }
}

.row{
     border: 1px solid black;
     background-color: rgba(255,255,255, 0.7);
}

img{
     width: 300px;
     height: auto;
}
